
body {
  background-color: #F1F1F1;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
#content {
 margin: 10px auto;
  width: 948px ;
  border:1px solid #AAAAAA;
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: sans-serif;

}

#banner {
  background:url(images/hero.png) no-repeat;
  height: 677px;
  text-align: right;
  border-bottom: 1px #AAAAAA solid;
  padding-right: 50px;
}


#why-love div {
  /*display: inline;*/
  width: 47%;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
#why-love img {
  margin: 10px 10px;
}
#why-love {
  border-bottom: 1px #AAAAAA solid;
}

#retina {
  border-bottom: 1px #AAAAAA solid;
  padding: 20px 0px 20px 20px;
  margin: 20px 20px;
}
#retina img {
  width: 450px;
  height: 360px;
  border-bottom: 1px #AAAAAA solid;

}
#retina div {
  float: left;
  width: 45%;
}

.actions {
  margin: 30px 20px;
}

.actions li {
  width: 28%;
  float: none;
  display: inline-block;
  border-right: 1px #AAAAAA solid;
  padding: 20px;
}
.actions .last {
  border-right: none;
}

#specs {
  border: solid 1px #AAAAAA;
  margin: 20px;
  border-spacing: 0;
}
#specs
td,
th {
  padding: 2px;
  border: solid 1px #AAAAAA;
  font-size: 16px;

}

#specs thead td {
  text-align: center;
}